  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #000;
  }
  .mt10{margin-top:10px;}
  .mt20{margin-top:20px;}
  .mt30{margin-top:30px;}
  .mt40{margin-top:40px;}
  .mt50{margin-top:50px;}
  .mb10{margin-bottom:10px;}
  .mb20{margin-bottom:20px;}
  .mb30{margin-bottom:30px;}
  .mb40{margin-bottom:40px;}
  .mb50{margin-bottom:50px;}
  .pt10{padding-top:10px;}
  .pt20{padding-top:20px;}
  .pt30{padding-top:30px;}
  .pt40{padding-top:40px;}
  .pt50{padding-top:50px;}
  .pb10{padding-bottom:10px;}
  .pb20{padding-bottom:20px;}
  .pb30{padding-bottom:30px;}
  .pb40{padding-bottom:40px;}
  .pb50{padding-bottom:50px;}
   h1 {
      font-size: 42px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 10px;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .no-padding{padding-left:0px;padding-right:0px;}
 
  .bg-grey {
      background-color: #eeeeee;
  }
  .logo-small {
      color: #f1c232;
      font-size: 50px;
  }
  .logo {
      color: #f1c232;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f1c232;
  }
  .carousel-indicators li {
      border-color: #f1c232;
  }
  .carousel-indicators li.active {
      background-color: #f1c232;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #424242;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 2px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f1b80a !important;
      background-color: #fff !important;
  }
   .second-nav li a{
      color: #252525 !important;
	  font-weight:700;
  }
  .second-nav li a:hover, .second-nav li.active a {
      color: #f1c232 !important;
      background-color: #fff !important;
	  font-weight:700;
  }
  .navbar-nav
  {
     margin:2px -80px;
  }
  
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
 
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  .enquiry-form  .form-group input{
	  border-radius:0px;
	  padding:25px 15px;
	  font-size:20px;
	  color:#000;
  }
  
  
  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  
  
  
  
 .banner {
   //top: -45px;
    position: relative;
	
}

.banner .label {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0%;
    padding-top:20%;
	padding-bottom:5.5%;
    right: 0;
    text-transform: uppercase;
	
}
.banner .label1 {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0%;
    padding-top:50%;
	padding-bottom:5.5%;
    right: 0;
    text-transform: uppercase;
	
}
.banner .label1 .title {
    font-size: 30px;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.banner .label .title {
    font-size: 30px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.banner .label .price span {
    display: block;
    font-size: 24px;
    padding-top: 3px;
}

.banner a {
    font-size: 14px;
    line-height: 20px;
    color: #c73430;
    text-transform: uppercase;
    display: inline-block;
    background-color: #e5e5e5;
    padding: 5px 18px 4px;
    margin-top: 25px;
    border-radius: 13px;
}

.banner a:hover {
    background-color: #c73430;
    color: #fff;
}

.package{margin-top:50px;margin-bottom:50px;}

button.btn-style{
	border-radius:0px;
	border:2px solid #f1c232;
	background:#ffffff;
	font-size:19px;
	font-weight:800;
	color:#f1c232;
	padding:15px 30px;
	margin-bottom:50px;
	
}

.about-head h2{color:#f1c332;font-weight:700;}

.team-back{background:#fff;padding:30px;}
.team-back h4{margin-bottom:0;}


.contact-form .form-control{
	border-radius:0;
	padding:20px 15px;
	background:#fff;
	font-size:16px;
	color:#fff;
}
.p4{padding-left:2px ;padding-right:2px;}
.contact-form button{
	border-radius:0;
	background:#fff;
	color:#f1c332;
	padding:3% 15%;
	font-size:18px;
}
.contact-form button:hover{
	border-radius:0;
	font-weight:700;
	background:#f1c332;
	color:#b3b3b3;
	padding:3% 15%;
	font-size:18px;
}

.con-det h4{margin-bottom:10px;font-weight:700;}

.blockDeal {
  
    display: block;
    background-color:#b3b3b3;
    font-size: .750em;
    margin: 15px 5px;
    text-align: left;
    vertical-align: top;
    min-height: 122px;
}
.blockDeal a {
    color: #fff;
}
.txt-cap {
    text-transform: capitalize;
}
.full, .new-theme .overlay-header, .new-theme .overlay-content, .flight-details-overlay .short-details {
    width: 100%;
    float: left;
}
.blockDeal .p5 {
    padding: 5px;
}
.blockDeal p {
    margin: 5px 0;
}
.fs14 {
    font-size: 1em;
}
.blockDeal .price {
    color: #ffd34e;
}
.fs18 {
    font-size: 1.286em;
}
.fac-list li{display:inline-block;padding:3px;font-size:15px;}
.rs-symbol, .rs, .RupeeSign {
    font-family: "WebRupee";
    font-style: normal;
    font-weight: normal;
}
.rs {
    background-position: 0 -3088px;
}
.txt-right {
    text-align: right;
}
.fr {
    background-position: 0 -1424px;
}
.fr {
    float: right;
}
.cA4A19A {
    color: #ffffff;
}
.txt-upper {
    text-transform: uppercase;
}
.blockDeal p.perPerson {
    margin: 0;
    padding: 5px;
    color: #000;
    background-color:#ffd34e;
    //position: absolute;
    bottom: 0;
	width:100%;
}


 .blog-item {
    //max-width: 345px;
    //margin-right: 20px;
    min-height: 475px;
    float: left;
}
.blog-img {
    float: left;
    position: relative;
    width: 100%;
    height: 450px;
    border-radius: 3px;
    overflow: hidden;
}
.bx-wrapper img {
    display: block;
}
.blog-desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,0.68) 100%);
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,0.68) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,0.68) 100%);
}
.blog-desc .post-author {
    position: absolute;
    padding: 30px 25px;
    left: 0;
    bottom: 0;
}
.blog-desc .post-author span {
    float: left;
    margin: 0 0 10px;
}
 .blog-desc .post-author img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
}
.blog-desc p {
    //display: block;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding: 10px 0 20px;
    clear: both;
    height: 100px;
    overflow: hidden;
	white-space: normal;
}
.blog-desc p a {
    color: #fff;
}
.blog-desc .blog-extra .read-more {
    float: left;
    clear: both;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
}

.tour-img:hover img {
    transform: scale(1.2);
}
.tour-img:hover{
	border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 8px -2px rgba(0,0,0,0.2);
	
}
.overflow-hd {
    overflow: hidden;
}
.overflow-hd1 {
    overflow: hidden;
}
.rel {
    position: relative;
}
.overflow-hd .img-responsive {
    display: block;
    max-height: 204px;
    max-width: 100%;
    width: 100%;
    transition: all .4s ease 0s;
}
.overflow-hd1 .img-responsive {
    display: block;
   // max-height: 204px;
    max-width: 100%;
    width: 100%;
    transition: all .4s ease 0s;
}
.banner:hover img {
    transform: scale(1.2);
}
.banner:hover{
	border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 8px -2px rgba(0,0,0,0.2);
	
}

.tour-img{
	background:#fff;
	font-family: 400 15px Lato, sans-serif;
	background: #fff none repeat scroll 0 0;
    display: inline-block;
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
    border-radius: 3px;
    height: auto;
   
}
.tour-data{padding: 10px 10px 0;}
.tour-data h3{margin-top:0;font-weight:700;}
.tour-data p{color:#909090;font-size:.929em;}
.tour-list{padding-bottom:7px;}
.tour-list ul li a{color:#ea2330;font-weight:600;}


.pack-img:hover img {
    transform: scale(1.2);
}
.pack-img:hover{
	border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 8px -2px rgba(0,0,0,0.2);
	
}
.pack-img{
	background:#fff;
	font-family: 400 15px Lato, sans-serif;
	background: #fff none repeat scroll 0 0;
    display: inline-block;
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
    border-radius: 3px;
    height: auto;
   
}
.pack-data{padding: 10px 10px 0;}
.pack-data h3{margin-top:0;font-weight:700;}
.pack-data h4{font-size:23px;margin-bottom:10px;}
.pack-data h4 i{color:#ea2330;}
.pack-data p{color:#909090;font-size:.929em;}
.pack-desc{padding-bottom:7px;padding-right:10px;padding-left:10px;}

.pack-desc-span {
    display: block;
    display: -webkit-box;
    height: 100px;
    font-size: 14px;
    line-height: 1.4;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.color-777 {
    color: #777;
}
.pad-left{padding-left:0px;}


.place-det h4{color:#000;}
.pack-det h4 {color:#ea2330;font-size:24px;}
.pack-det p{font-weight:600;}

.request-quote{
	background:#ea2330;
	color:#fff;
	padding:10px;
	bottom:30%;
	margin-bottom:0;
	text-align:center;
	margin-top:36%;
	margin-right:-10%;
}

.tab-details .nav-tabs{border:0;}

.tab-details .nav-tabs li a{
border-radius:0;
color: #000;
border:1px solid #ccc;
margin-right:0px;
//overflow:hidden;
}

.tab-details .nav-tabs li.active a{
    color: #fff;
    cursor: default;
    background-color: #ea2330;
    border: 1px solid #ccc;
    //overflow:hidden;
}
.tab-details .tab-content{padding:15px;}
.tab-details .tab-content .tab-pane figure{margin-bottom:20px;}













@media(max-width:767px){
	.request-quote{
	
	margin-top:30%;
	margin-right:-12%;
}
.tab-details .nav-tabs li a:last-child{overflow-x:scroll;}
	
}